*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;  
}

body{
    background-color: black;
}

.box{
    width: 800px;
    height: 800px;
    display: grid;
    grid-template-columns: repeat(8 , 1fr);
    grid-template-rows: repeat(8 , 1fr);
} 

.white{
    background-color: aliceblue;
}

.black{
    background-color: black;
}