#flag{
    background-color:rgb(2, 2, 83);
    height: 200px;
    width: 300px;
    margin: 0%;
    padding: 0%;
    position: relative;
}

#topp{
    background-color: red;
    height: 45px;
}

#circle{
    background-color: white;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}


#downn{
    background-color: red;
    height: 45px;
    width: 300px;
    position: absolute;
    bottom: 0px;;



}
